input {
  width: 98%;
  border: none;
  display: block;
  margin: 2rem auto;
  padding: 1rem;
  border-bottom: solid 1px lightgray;
  outline: none;
}

::placeholder {
  color: gray;
  opacity: 0.5;
  font-size: 1.2rem;
}

input:last-child {
  border-bottom: solid 1px black;
  color: black;
}
